h1.reg {
    height: 70px;
    width: 100%;
    font-size: 25px;
	text-align: left;
	padding-left: 20px;
    background-color: #33cc33 ;
    color: white;
    line-height: 150%;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 2px 5px 1px rgba(0,0,0,0.2);
  }

  input[type=submit]{
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
			
  }
 
  input[type=reset]{
    background-color: #ff3333;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
			
}
input[type=submit]:hover {
    background-color: #45a049;
}

input[type=reset]:hover {
    background-color: #cc0000;
}

  